body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
    background-image: url(wood.jpg);
    background-size: cover;
  
  
    
  }
  
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 5px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .3s;
    padding: 10px;
    background-color: transparent
  
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  h1{
      text-align: center;
      font-size: 60px;
      color: white;
     
  }
  
  p{
      text-align: center;
      font-size: 30px;
      
  }

  h4{
      color: white;
      font-size: 20px;
  }

  h3{
    color: white;

  }

  label{
    color: white;
  }

  span{
    color: white;
  }
  
  
  @media only screen and (max-width: 1100px){
      body {
          font-family: "Lato", sans-serif;
          transition: background-color .5s;
          background-image: url(wood.jpg);
          background-size: auto;
          background-position: auto;
  }
  
  
  
  @media only screen and (max-width: 600px){
      h1{
          font-size: 35px;
      }
  
      p{
          font-size: 17px;
      }
  
      body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
    background-image: url(wood.jpg);
    background-size: auto;
    background-position: center;
      }

     /* Just come optional fonts and characters for styling */
     @import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans|Pacifico|Source+Code+Pro');
     /* FontAwesome cdn fonts */
     @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
     body {
         font-family: 'Open Sans', sans-serif;
     }
     /* Sample styling for comments and commenting controls */
     #allcomments {
         width: 90%;
         margin: 1em 0 4em 1em;
         padding: 1%;
         border: solid 1px gray;
         border-radius: 3px;
         box-shadow: 2px 2px 2px silver;
     }
 
     ul#pastcomments {
         list-style-type: none;
     }
 
     ul#pastcomments li:before {
         font-family: FontAwesome;
         content: "\f086";
         font-size: 24pt;
         color: gray;
         margin-left: -42px;
         padding-right: 10px;
         position: relative;
         top: 8px;
     }
 
     ul#pastcomments li {
         margin: 0 0 2em 0;
         padding: 10px;
     }
 
     ul#pastcomments li span {
         font-size: 80%;
         color: gray;
         font-style: italic;
     }
 
     form#newcomment textarea {
         height: 72px;
     }
 
     form#newcomment label {
         display: inline-block;
         margin: 1em 0 0 0;
     }
 
     form#newcomment textarea,
     form#newcomment input[type="text"] {
         margin-top: 0;
     }