
 marquee{
  font-size: 30px;
  font-weight: 800;
  color: #8ebf42;
  font-family: sans-serif;
  }

  
body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
    background-image: url(Read.jpg);
    background-size: cover;
  
  
    
  }
  
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 5px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .3s;
    padding: 10px;
    background-color: transparent
  
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  h1{
      text-align: center;
      font-size: 60px;
      color: white;
     
  }
  
  p{
      text-align: center;
      font-size: 30px;
      color: white;
      
  }

  h4{
      color: white;
  }

  span{
      color: white;  }

  ul{
	float: left;
	list-style-type: none;
	margin-top: 100px;
}
ul li{
	display: block;
	max-width:1200px;
    margin:0 auto;
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 3px 20px;
	border: 1px solid transparent;
    transition: 0.6s ease;
    font-size: 20px;
}
ul li a:hover{
	background-color: #fff;
	color: #000;  
}

ul li.active a{
	background-color: #fff;
	color: #000;  
}
  
  
  @media only screen and (max-width: 1100px){
      body {
          font-family: "Lato", sans-serif;
          transition: background-color .5s;
          background-image: url(Read.jpg);
          background-size: auto;
          background-position: center;
  }
  
  
  
  @media only screen and (max-width: 600px){
      h1{
          font-size: 35px;
      }
  
      p{
          font-size: 17px;
      }
  
      body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
    background-image: url(read.jpg);
    background-size: auto;
    background-position: center;
      }